
body{
    background-color: rgb(156, 68, 9);
    font-family: arial, helvetica;
}

.logo {
    position: relative;
   
    display: flex;
    justify-content: center;

}

.menu2 {
    list-style: none;
    padding: 0%;
    background: #092327;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    ;
   
    margin: auto;
    color: white;
    
}

.menu2 li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    
}

.menu2 li {
    display: inline-block;
    text-align: center;
    
}

.menu2 li a:hover {
 background: #ef8354;
}
  
    

div{
    padding: 10px 10px;
    
}




.fotos { 
    display: flex;
    padding: 0%;
    justify-content: center;
    justify-content: space-around;
    
}

.videos {
    display:flex ;
    justify-content: space-around;
    height: auto;
    width: auto;
    
    padding: 0%;

}

.playlist{
 display: flex;
 justify-content:space-around;
 justify-content: center;
 padding: 2.5%;


   
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;font-family: 'Quicksand', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.container::after{
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    
    background-size: cover;
    filter: blur(50px);
}

.consulta{
 
    border: 2px solid black;
    background: #092327;   
    margin: auto;
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0);
    
}
.left{
    height: 100%;
    background: url("img/Logo.png") no-repeat center;
    background-size: cover;
}
.right{
    padding: 25px 40px;
}
h2{
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}
h2:after{
    content:'';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}
.field{
    width: 100%;
    padding: 0,5rem 1rem;
    background-color: rgba(230, 230, 230, 0,6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
}
.field:hover {
    background-color: rgba(0,0,0,0.1);

}
.field:focus{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);

}
area{
    min-height: 150px;
    
}

.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .3s;
}
.btn:hover{
    background-color: #27ae60;
}
@media screen and(max-width:880px) {
.consulta{
    grid-template-columns: 1fr;
}
.left{ height: 200px;;    
}
 }
footer{
  list-style: none;
    padding: 0%;
    background: #092327;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    ;
   
    margin: auto;
    color: white;
    
    
}
footer li a{ text-decoration: none;
    color: white;
    padding: 10px;
    display: block;

}

footer li{
    display: inline-block;
    text-align: center;
}

footer li a:hover{
    background: #ef8354;
}

.imgl, .imgll ,.imglll{
    border: 2px solid black;
    padding: 0%;
    display: flex;
}

.video , .mapa {
    border: 2px solid black;
    display: flex;
    padding: 0%;
}
.grid-container {
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: space-around;
   display: flex;
   
    
}

.titulos {
    list-style: none;
    padding: 0%;
    background: #092327;
    width: 100%;
    height: auto
    ;
    display: flex;
    
    border: 2px solid black;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
   
    margin: auto

}



/* PAG NOSOTROS VIDEOS */
.videos-nosotros{
display: flex;
justify-content: center;

}

.videos-nosotros{
    border: 2px solid black;
}



